.headerALL {
  background: url("media/header/Layer_6.png");
  width: 1366px;
  height: 769px;
  background-repeat: no-repeat;
  justify-content: center;
  position: relative;
}

.headerText {
  /* Style for "Bangladesh" */
  width: 165px;
  height: 13px;
  color: #82b541;
  font-family: "Roboto Slab";
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  /* Text style for "Bangladesh" */
  letter-spacing: 3.39px;
  justify-content: center;
}

.header_logo {
  text-align: center;
  margin-left: -10px;
}

.headerLogotip {
  padding-top: 43px;
  margin-bottom: 130px;
}

.navbar {
  display: inline-flex;
  justify-content: flex-end;
}

.menu_items {
  /* Style for "Sponsors" */
  width: 76px;
  height: 11px;
  color: #ffffff;
  font-family: "Roboto - Thin", sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 46px;
}

ul, li {
  text-decoration: none;
  display: inline;
  margin: 0;
  padding: 0;
}

.navbar>.menu>ul>li>a {
  text-decoration: none;
  color: inherit;
}

.navbar>.menu>ul>li>a:hover {
  color: #FFD700;
}

.headerTimer {
  align-items: center;
  justify-content: center;
  width: 1060px;
  height: 198px;
  border-radius: 20px;
  border: 2px solid #90d23d;
  margin: auto;
}

.timer {
  font-size: 0;
  text-align: center;
}

.timer_section {
  display: inline-block;
  vertical-align: top;
}

.timer_section>div {
  display: inline-block;
  vertical-align: top;
  font-size: 130px;
  color: #ffffff;
  line-height: 70px;
  width: 65px;
  margin: 0 15px;
  border-radius: 2px;
  font-weight: lighter;
}

.timer_section>div.timer_section_desc {
  display: block;
  background: none;
  line-height: 30px;
  width: auto;
  margin-top: 40px;
  height: 19px;
  color: #ffffff;
  font-family: "Roboto Slab";
  font-size: 23px;
  font-weight: 400;
  text-transform: uppercase;
}

.timer_delimetr {
  display: inline-block;
  vertical-align: top;
  font-size: 90px;
  line-height: 70px;
  margin: 0 25px;
  color: #ffffff;
}

@media (max-width: 767px) {
  .timer_section>div {
    font-size: 30px;
    width: 30px;
    line-height: 40px;
  }

  .timer_delimetr {
    line-height: 40px;
    font-size: 30px;
  }

  .timer_section>div.timer_section_desc {
    font-size: 14px;
    line-height: 26px;
  }
}
.IconImg {
  display: inline-flex;
  align-items: flex-end;
  height: 345px;
  margin: 0;
  width: auto;
  position: absolute;
}
.IconsPosition1 {
  margin-left: -35px;
  z-index: 5;
  margin-bottom: 21px;
}
.IconsPosition2 {
  margin-left: -45px;
  z-index: 4;
  margin-bottom: 34px;
}
.IconsPosition3 {
  margin-left: -40px;
  z-index: 3;
  margin-bottom: 46px;
}
.IconsPosition4 {
  margin-left: -35px;
  z-index: 2;
  margin-bottom: 57px;
}
.IconsPosition5 {
  margin-left: -35px;
  z-index: 1;
  margin-bottom: 68px;
}
.headerForm {
  background: url("media/header/base.png");
  /* Style for "Base" */
width: 431px;
height: 530px;
box-shadow: 0 1px 2px rgba(35, 31, 32, 0.65);
position: absolute;
right: 175px;
top: 535px;
z-index: 1;
display: flex;
}
.formText {
  /* Style for "Sign up fo" */
width: 280px;
height: 31px;
color: #252525;
font-family: "Roboto";
font-size: 30px;
font-weight: 700;
}
.form-control {
 margin-top: 21px;
 margin-left: 29px;
 margin-right: 31px;
}
